<div class="container">
<div class="card-panel">
<h3><%= @job.title %></h3>
<p><%= @job.description %></p>
<h5><%= @job.contact %></h5>
<p><%= @job.created_at %></p>

</div>
<%= link_to "Back", jobs_path, class: "btn waves-effect waves-light light-blue darken-4" %>
<% if user_signed_in? %>
<% if @job.user_id == current_user.id %>
<%= link_to "Edit", edit_job_path, class: "btn waves-effect waves-light light-blue accent-3" %>
<%= link_to "Delete", job_path(@job), method: :delete, data: {confirm: "Are you sure?"}, class: "btn waves-effect waves-light red accent-4" %>
<% end %>
<% end %>

</div>