<!DOCTYPE html>
<html>
<head>
  <title>VAAST</title>
  <%= render 'application/favicon' %>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navigation' %>

<% if notice %>
  <script type="text/javascript">
    Materialize.toast('<%= notice %>', 4000, 'green accent-4')
  </script>
<% end %>
<% if alert %>
  <script type="text/javascript">
    Materialize.toast('<%= alert %>', 4000, 'red accent-4')
  </script>
<% end %>

<%= yield %>
<%= render 'layouts/footer' %>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<%= javascript_include_tag :application %>
</body>

</html>